*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: 0;
  box-sizing: border-box;
}
:root{
  --color-darkmode:rgb(2, 2, 29) ;
  --color-lightmode:rgb(222, 222, 231);
  
}